/* Background */

.bg {
    height: 100%;
    background-color: #f5f5f5;
}


/* Text Helpers */

.header-title {
    font-size: 42px;
    padding-top: 8px;
    text-align: center;
}

.header-small {
    font-size: 18px;
    text-align: center;
}


/* Cards */

.ship-card {
    height: 300px;
    padding: 12px;
    margin: 10px 20px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ship-card:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6);
}

.ship-model {
    font-size: 12px;
}

.number-list {
    padding: 0;
}

li {
    text-align: center;
    list-style-type: none;
    padding-bottom: 2px;
}

.fa-star {
    color: green;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.fa-star:hover {
    font-size: 30px;
    color: red;
}